@media (min-width: 1800px) {
    html{
        font-size: 20px;
    }
}
@media (max-width: 1005px){
    .LOE{
        height: fit-content;
    }
    .loesec{
        width: 49% !important;
        margin-top: 2rem;
    }
}
@media (max-width: 860px) {
    .innerPre .preLeft{
        display: none;
    }
    .innerPre .preRight i{
        display: block !important;
    }
    .innerPre .preRight{
        display: flex !important;
        justify-content: space-evenly !important;
    }
    header nav{
        padding: 1rem 0.5rem;
    }
    header nav .navigation{
        display: none;
    }
    header nav .navigation2{
        display: flex;
    }
    /* Footer Responsive  */
    footer{
        height: fit-content;
        padding: 1rem 0rem;
        margin-bottom: 1rem;
    }
    footer .footerup{
        flex-direction: column;
    }
    .break{
        height: 1px;
        width: 50%;
    }
    .secti, .footermain{
        width: 100% !important;
        margin: 1rem 0rem;
        text-align: center;
    }
    .secti .headingBottom{
        margin: 1rem auto;
    }
    .fFindUs{
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center;
        height: fit-content;
    }
    .FindDetails{
        width: fit-content !important;
    }
}
@media (max-width: 550px){
    html{
        font-size: 8px;
    }
    .CUSendMessage{
        flex-direction: column;
        height: fit-content !important;
    }
    .CUSendMessage .cmLeft{
        width: 100% !important;
        height: fit-content;
        padding: 1.5rem 0rem;
    }
    .CUSendMessage .cmRight{
        margin-top: 2rem;
        width: 100% !important;
        height: fit-content;
        padding: 1.5rem 0rem;
    }
    .CUSendMessage .cmRight .twoInputs{
        flex-direction: column;
    }
    .CUSendMessage .cmRight .twoInputs input{
        width: 100% !important;
        margin-top: 1rem;
    }
    .loesec{
        width: 100% !important;
    }
}
@media (max-width: 465px){
    .phoneHeader .innerPH .topHeader{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .phoneHeader .innerPH .topHeader img{
        margin-bottom: 1rem;
    }
    .phoneHeader .innerPH .topHeader h3, .phoneHeader .innerPH .topHeader p{
        text-align: center;
    }
}